*{
  list-style: none;
}
body{
  background: url("../images/background.jpg") repeat;
  background-color: $body-color-bg;
  font-size: $body-font-size;
  color: #fff;
}
.wrapper-site{
  width: 960px;
  margin: 0 auto;
}
.btn{
  background-color: #b65132;
  border: none;
  @include border-radius(5px);
  color: #fff;
  padding: 10px;
  transition: all .2s ease;
  &:hover{
    background-color: #dd6640;
  }
}
.header{
  text-align: center;
  width: 400px;
  margin: 10px auto 20px auto;
  border: $header-border;
}
.container{
  .container-box{
    width: 46%;
    margin: 0 2%;
    padding: 10px;
    float: left;
    min-height: 400px;
    @include border-radius(10px);
    border: $container-box-border;
  }
}
// Form
// ------

.form-wrapper{
  label{
    display: block;
    padding: 10px 0;
  }
  .input-title,
  .input-body{
    width: 100%;
    padding: 10px;
  }
  .input-body{
    margin: 0 0 10px;
  }
}
fieldset{
  border: none;
}







